<ng-template cdkPortal>
  <div class="modal-container">
    <div class="devices-container">
    @if (devices().length >= 1) {
      <p class="device-card-title">Select a device</p>

      <p class="device-card-text">No active device available. Choose one to start listening.</p>

      @for (device of devices(); track $index){
        <btj-device-row (selectDevice)="selectDevice(device.id)" [device]="device" [isActive]="selectedDeviceId() === device.id"/>
      }

      <button btjButton class="select-device-button" type="button" (click)="setActiveDevice()"  [disabled]="!selectedDeviceId()">Select device</button>
    } 
    @else {
      <div class="alternative-container">
        <p class="alternative-title">No device found</p>
        <p class="alternative-text">No device found. Start Spotify on any device, then refresh this page.</p>
        <button btjButton class="refresh-button" tabindex="0" type="button" (click)="refreshWindow()">Refresh</button>
      </div>  
      }
      </div>
  </div>
</ng-template>
