CLIENT_ID=client_id
CLIENT_SECRET=client_secret
SPOTIFY_API_URL=https://api.spotify.com/v1
SPOTIFY_ACCOUNT_URL=https://accounts.spotify.com
CLIENT_URL=http://127.0.0.1:4200
PORT=3000
SERVER_URL=http://127.0.0.1:${PORT}
ENVIRONMENT=dev
