@let _track = track();

<div class="queue-row">
    <img alt="album-cover" 
        class="album-cover" 
        height="36" 
        width="36"
        [ngSrc]="_track.albumCoverUrl"
    />

    <div class="text-container">
        <h2>{{ _track.songName }}</h2>

        <p>{{ _track.artistName }}</p>
    </div>

    <div class="upvote-container">
        <fa-icon 
            class="upvote-button" 
            (click)="toggleVote()" 
            [icon]="upvoted() ? fasThumbsUp : faThumbsUp" 
            />
        <p class="upvote-count">{{ upVoteCount() }}</p>
    </div>
</div>
