.album-cover {
  border-radius: 4px;
  margin-right: 5px;
  width: 40px;
  height: 40px;

  @media (min-width: 768px) {
    width: 48px;
    height: 48px;
  }
}

h2 {
  font-family: var(--text-font);
  margin: 0;
  color: var(--light-gray);
  font-size: 14px;
  font-weight: normal;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

p {
  font-family: var(--text-font);
  margin: 5px 0 0 0;
  color: var(--mid-gray);
  font-weight: normal;
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.queue-row {
  width: 100%;
  max-width: 360px;
  height: 56px;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 10px;
  border: 0.5px solid #7F7F7F;
  border-radius: 8px;
  background-color: #35393F;
  justify-self: center;

  @media (min-width: 768px) {
      max-width: 768px;
      height: 72px;
  }
}

.upvote-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.upvote-count {
  font-size: 14px;
  margin-bottom: 3px;
  margin-left: 4px;
  color: white;
  font-weight: bold;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}


.upvote-button{
  color: var(--light-gray);
  font-size: 14px;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}
