@let _track = track();

<div class="queue-row">
    <img class="album-cover" 
        [src]="_track.albumCoverUrl" 
        alt="albumcover" 
    />

    <div class="text-container">
        <h2>{{ _track.songName }}</h2>

        <p>By {{ _track.artistName }}</p>
    </div>

    <div class="upvote-container">
        <ion-icon (click)="onUpvote()" 
            class="icon" 
            name="arrow-up-circle-outline"
        ></ion-icon>

        <p class="upvote-count">{{ upVoteCount }}</p>
    </div>
</div>