@let _track = track();

<div class="queue-row">
    <img NGsrc="_track.albumCoverUrl" 
        alt="albumcover" 
        class="album-cover" 
    />

    <div class="text-container">
        <h2>{{ _track.songName }}</h2>

        <p>{{ _track.artistName }}</p>
    </div>

    <div class="upvote-container">
        <fa-icon 
            class="upvote-button" 
            (click)="toggleVote()" 
            [icon]="upvoted() ? fasThumbsUp : faThumbsUp" />
        <p class="upvote-count">{{ upVoteCount() }}</p>
    </div>
</div>
