<div class="search-bar" [class.show-dropdown]="showDropdown">
  <fa-icon class="search-icon" [icon]="magnifyingGlass" />
  <input 
    class="search-input" 
    placeholder="Search" 
    type="text" 
    (blur)="closeDropdown()"
    (focus)="openDropdown()"
    (input)="search($event)"
    [value]="value()"
    #searchInput>

  <fa-icon class="close" (click)="clearInput();" [icon]="closeIcon" />

  @if (showDropdown) {
    <div class="search-dropdown">
      <btj-search-dropdown>
        <div class="dropdown-content">
          @for (track of tracks(); track $index) {
            <btj-search-result (addSong)="addSong.emit(track)" [track]="track" />
          }
        </div>
      </btj-search-dropdown>
    </div>
  }
</div>
