<div class="search-bar" [class.show-dropdown]="showDropdown">
  <fa-icon class="search-icon" [icon]="magnifyingGlass" />
  <input 
    class="search-input" 
    placeholder="Search" 
    type="text" 
    (blur)="closeDropdown()"
    (focus)="openDropdown()"
    (input)="search($event)"
    [value]="value()">

  <fa-icon class="close" (click)="clearInput();" [icon]="closeIcon" />

  @if (showDropdown && value()) {
    <div class="search-dropdown">
      <btj-search-dropdown>
        <div class="dropdown-content">
          @if (isLoading() === true) {
            <btj-loading-state />
          } @else{
            @for (track of tracks(); track $index) {
              <btj-search-result (addSong)="add($event)" [track]="track" />
            }
          }
        </div>
      
      </btj-search-dropdown>
    </div>
  }
</div>
