:host {
  background: var(--mid-blue);
  border: 1px solid var(--dark-gray);
  border-radius: 16px;
  padding: 4px 8px;
  color: var(--light-gray);
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;

  @media (width >= 768px) {
    padding: 8px 16px;
  }
}

:host:hover {
  background-color: var(--dark-gray);
}

:host:disabled {
  color: var(--dark-gray);
  background-color: var(--mid-blue);
  cursor: default;
}

:host:focus-visible {
  outline: 2px solid var(--light-gray);
}
