<div class="header">
  <div class="logo">
    <span class="short">BTJ</span>

    <span class="long">BETTERJAMS</span>
  </div>

  <btj-search-bar class="search-bar"
    (addTrack)="addTrack($event);"
    (clearSearch)="clearSearch();"
    (searchQueryChange)="searchQueryChange($event)"
    [isLoading]="isLoading()"
    [query]="searchQuery()"
    [searchResults]="searchResults()"
  />

  @if(!userIsLoading()) {
    <btj-user-profile class="user-profile"
      [userProfile]="userProfile()!"
    />
  }
</div>

<div class="room-page">
  <div class="room-page-container">
    @if (userIsLoading() || devicesIsLoading()) {
      <btj-loading-state class="room-page-loader" />
    } @else {
        @let _currentTrack = currentTrack();

    @if (_currentTrack) {
      <btj-media-player class="media-player"
        (pauseTrack)="pauseTrack()"
        (playTrack)="playTrack()"
        [isPlaying]="isPlaying"
        [progress]="currentTrackProgress()"
        [track]="_currentTrack!"
      />
    } @else {
      <btj-empty-queue-placeholder class="empty-queue-placeholder" />
    }

        <div class="queue">
          @for (track of queueTracks(); track track.uuid) {
            <btj-queue-row
              (vote)="voteTrack(track)"
              [track]="track"
              [voted]="track.upvoteIds.includes(userProfile()!.userId)"
            />
          }
        </div>
    }
  </div>
</div>

@if (showSelectDevicesModal()) {
  <btj-select-devices-modal class="devices-modal"
    (setActiveDeviceId)="setSelectedDeviceId($event)"
    [devices]="devices()"
  />
}
