.header {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--dark-gray);
}

.search-bar {
  flex-grow: 1;
  max-width: 768px;
}

.roompage {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 8px;

  @media (width >= 768px) {
    padding-inline: 0;
  }
}

.media-player {
  display: block;
  margin-block: 16px;

  @media (width >= 768px) {
    margin-block: 32px;
  }
}

.queue {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (width >= 768px) {
    gap: 16px;
  }
}
