<div class="header">
  <btj-search-bar class="search-bar" [tracks]="tracks" />
</div>

<div class="roompage">
  <app-media-player class="media-player" 
    (pauseTrack)="pauseTrack()"
    (playTrack)="playTrack()"
    [isPlaying]="isPlaying"
    [progress]="progress"
    [track]="trackData"
  />

  <div class="queue">
    @for (item of tracks; track $index) {
    <app-queue-row
      (removeVote)="removeVote()"
      (upvote)="vote()"
      [track]="trackData"
      [upVoteCount]="upvoteCount"
      [upvoted]="upvoted" 
    />
    }  @empty {
      <p>search songs to queue</p>
    }
  </div>
</div>

