.media-player {
  display: flex;
  flex-direction: column;
  background: var(--dark-blue); 
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  gap: 8px;
  @media (min-width: 768px) {
    flex-direction: row;
    text-align: left;
  }

}

.album-cover {
  width: 300px;
  border-radius: 8px;
  object-fit: cover;
  align-self: center;
  @media (min-width: 768px){ 
    width: 340px;
    margin-right: 15px;
  }
}

.song-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.song-name {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  color: var(--light-gray);
}

.artist-name {
  font-size: 28px;
  color: var(--mid-gray);
  margin: 4px 0 0 0;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pause-icon {
  font-size: 32px;
  margin-bottom: 8px;
  color: #000;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
}

.bar { 
  width: 70%;
  height: 6px;
  background: var(--dark-gray);
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {    
    width: 100%;
  }
}


.progressbar {
  height: 100%;
  background: var(--light-gray);
  border-radius: 3px;
  transition: width 0.2s ease-in-out;
}

.right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
