@let _track = track();
  <!-- eslint-disable @angular-eslint/template/prefer-ngsrc -->
<div class="queue-row">
  <img alt="album-cover" 
    class="album-cover" 
    [src]="_track.albumCoverUrl" 
  />
  <!-- eslint-enable @angular-eslint/template/prefer-ngsrc -->
  
  <div class="text-container">
    <h2>{{ _track.songName }}</h2>
    
    <p>{{ _track.artistName }}</p>
  </div>
  
  <div class="upvote-container">
    <fa-icon class="upvote-button"
      (click)="toggleVote()" 
      [icon]="upvoted() ? fasThumbsUp : faThumbsUp" 
    />

    <p class="upvote-count">{{ upVoteCount() }}</p>
  </div>
</div>
