.dropdown {
  background-color: var(--mid-blue);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropdown-component {
  width: 100%;
}
