<div class="dropdown">
  <ng-content>
    <div class="dropdown">
      <div class="dropdown-row">
        <!-- eslint-disable-next-line @angular-eslint/template/prefer-ngsrc -->
        <img alt="Album cover" class="album-cover" src="../../../assets/appIcon.png">

        <div class="text-container">
          <p class="song-name">Starlight Arcade</p>
          <p class="artist-name">Dreamwave Division</p>
        </div>

        <button class="queue-btn" type="button">Add to queue</button>
      </div>
    </div>
  </ng-content>
</div>
