.empty-queue-container {
  display: flex;
  background-color: var(--mid-blue);
  padding: 16px 32px;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  text-align: center;
  border: 1px solid var(--dark-gray);
  max-width: 387px;

  @media (width >= 768px) {
    margin-top: 32px;
    gap: 16px;
  }
}

.music-icon {
  display: flex;
  color: var(--dark-blue);
  font-size: 60px;

  @media (width >= 768px) {
    font-size: 85px;
  }
}

.empty-queue-text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.empty-queue-header {
  color: var(--light-gray);
  font-size: var(--font-size-lg);

  @media (width >= 768px) {
    font-size: var(--font-size-xl);
  }
}

.empty-queue-text {
  color: var(--mid-gray);
  margin: 0;
  font-size: var(--font-size-md);
}
